@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: 216 24% 96%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --primary-gradient: linear-gradient(95deg, #5190FE 0%, #C4ADFF 100%);
  }
}

$primary-gradient: var(--primary-gradient);

.bg-primary-gradient {
  background: $primary-gradient;
}

.text-primary-gradient {
  background: $primary-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  scroll-padding-top: 76px;
}

body {
  background: hsl(var(--bg-primary));
}

h2 {
  @apply text-2xl font-bold;
}

.bg-image-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-image-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

dl.information-card-table {
  @apply w-full overflow-auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;

  dt, dd {
    @apply py-4 inline-flex;

    &:not(:last-of-type) {
      @apply border-b border-border;
    }
  }

  dt {
    @apply pl-2 pr-4 items-center gap-1;
    width: 120px;
  }

  dd {
    @apply pr-2;
    width: calc(100% - 120px);
  }
}

.hover-link {
  @apply hover:opacity-60;
}
